body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
}

div.block {
  width: 600px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
}

.table {
  line-height: 15px;
  margin: 10px;
  margin-left: 500px;
}
.main-theme {
  display: flex;
  width: auto;
  background-color: #fff;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  color: #398aa4;
}
.main {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 10px;
  margin-left: 500px;
}

.themes {
  display: flex;
  width: auto;
  background-color: #fff;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  color: #398aa4;
}

.themes-view {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 55px;
  margin: 10px;
  margin-left: 550px;
}

/* Table*/
table.steelBlueCols {
  border: 4px solid #555555;
  background-color: #555555;
  width: 400px;
  text-align: center;
  border-collapse: collapse;
}
table.steelBlueCols td,
table.steelBlueCols th {
  border: 4px solid #555555;
  padding: 5px 10px;
}
table.steelBlueCols tbody td {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
table.steelBlueCols td:nth-child(even) {
  background: #398aa4;
}
table.steelBlueCols thead {
  background: #398aa4;
  background: -moz-linear-gradient(top, #6aa7bb 0%, #4c95ad 66%, #398aa4 100%);
  background: -webkit-linear-gradient(
    top,
    #6aa7bb 0%,
    #4c95ad 66%,
    #398aa4 100%
  );
  background: linear-gradient(to bottom, #6aa7bb 0%, #4c95ad 66%, #398aa4 100%);
}
table.steelBlueCols thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #398aa4;
}
table.steelBlueCols thead th:first-child {
  border-left: none;
}

table.steelBlueCols tfoot td {
  font-size: 13px;
}
table.steelBlueCols tfoot .links {
  text-align: right;
}
table.steelBlueCols tfoot .links a {
  display: inline-block;
  background: #ffffff;
  color: #398aa4;
  padding: 2px 8px;
  border-radius: 5px;
}

.dws-input {
  width: 300px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 4px;
  padding-left: 10px;
  margin-left: 550px;
}
